---
import Layout from '../layouts/Layout.astro';
const currentTime = new Date().toLocaleTimeString();
Astro.response.headers.set(
	'Cache-Control',
	'public, s-maxage=60, stale-while-revalidate=30'
);
---

<Layout>
	<h1>This page should be cached</h1>
	<p>The current time is {currentTime}</p>
	<a href="/">Home</a>
	<a href="/no-cache">No Cache Page</a>
</Layout>
