---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<Welcome />
	<a href="cache">Cached Page</a>
	<a href="no-cache">No Cache Page</a>
</Layout>
