---
import {getSession} from 'auth-astro/server';
import {SignIn, SignOut} from 'auth-astro/components';
import Layout from '../layouts/Layout.astro';
const session = await getSession(Astro.request);
---

<Layout>
	{
		session ? (
			<>
				<p>Hello, {session.user?.name}!</p>
				<SignOut> Logout </SignOut>
			</>
		) : (
			<SignIn provider="github">Login with GitHub</SignIn>
		)
	}
</Layout>
