---
import Layout from '../layouts/Layout.astro';

const currentTime = new Date().toLocaleTimeString();
---

<Layout>
	<h1>This Page Should not be cached</h1>
	<p>The current time is {currentTime}</p>
	<a href="/">Home</a>
	<a href="/cache">Cache Page</a>
</Layout>
